.grid {
    @extend %flex-center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 25px;
    @media (max-width : 830px) {
        gap: 10px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    height: 364px;
    width: 380px;
    background-color: $color-card;
    border-radius: $radius-primary;
    overflow: hidden;

    &__image {
        height: 178px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 186px;
        padding: 20px;
        background-color: $color-secondary;
        font-size: 12px;
        overflow: hidden;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        background-color: $color-secondary;
    }
    &__timer {
        font-weight: 700;
        font-size: 18px;
        @extend %flex-center;
        img {
            padding-right: 7px;
        }
    }

    &__text {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__recipe-list {
        font-weight: 700;
        width: 50%;
        &-quantity{
            font-weight: 400;
        }
    }

    &__recipe-instruction {
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 50%;
    }
}

.hide {
    display: none;
}