.dropdown-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 100%;
    gap: 20px;
}

.dropdown {
    &-btn {
        position: relative;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);

        i {
            position: absolute;
            color: $text-secondary;
            top: 25px;
            right: 15px;
        }
    }

    &-input {
        color: $text-secondary;
        border: none;
        border-radius: $radius-primary;
        background-color: $color-ingredients;
        width: 170px;
        height: 69px;
        padding-left: 20px;
        z-index: 2;

        @media (max-width: 375px) {
            width: 280px;
        }

        

        &::placeholder {
            color: $text-secondary;
        }
        &:focus {
            border: none;
            outline: none;
        }
    }

    &-menu {
        position: absolute;
        background-color: $color-ingredients;
        font-weight: 400;
        max-height: 397px;
        overflow: auto;
        width: 0;

        &::-webkit-scrollbar {
            width: 0.5vw;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $text-secondary;
            border-radius: $radius-primary;
        }
    }
}

.active {
    > .dropdown-input {
        transition: 350ms ease-out;
        width: 667px;
        border-radius: 5px 5px 0 0;
        @media (max-width: 708px) {
            width: 334px;
        }
        @media (max-width: 375px) {
            width: 280px;
        }
    }

    > .dropdown-menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        border-radius: 0 0 5px 5px;
        z-index: 1;
        @media (max-width: 868px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 375px) {
            grid-template-columns: repeat(1, 1fr);
        }

        & li {
            border-radius: $radius-primary;
            display: grid;
            font-size: 18px;
            color: $text-secondary;
            margin: 5px 10px 5px 10px;
            padding: 5px 10px;
        }
        :hover {
            cursor: pointer;
        }
    }

    > i {
        transition: 350ms ease-out;
        transform: rotate(180deg);
    }
}

.appliance {
    background-color: $color-appliance;
    > li:hover {
        background-color: $color-appliance-secondary;
    }
    img[data-dropdown-type='appliance']:hover {
        background-color: $color-appliance-secondary;
    }
}

.ustensils {
    background-color: $color-ustensils;
    > li:hover {
        background-color: $color-ustensils-secondary;
    }
    img[data-dropdown-type='ustensils']:hover {
        background-color: $color-ustensils-secondary;
    }
}

.ingredients {
    background-color: $color-ingredients;
    > li:hover {
        background-color: $color-ingredients-secondary;
    }
    img[data-dropdown-type='ingredients']:hover {
        background-color: $color-ingredients-secondary;
    }
}

.tag {
    &-container {
        display: flex;
        margin-top: 10px;
    }
    &-box {
        border-radius: $radius-primary;
        font-size: 14px;
        font-weight: 700;
        margin-right: 10px;
        padding: 10px;
        color: $text-secondary;
        img {
            border-radius: 50%;
            vertical-align: middle;
            line-height: 50%;
            cursor: pointer;
        }
    }
}
