//
// COLOR
//

// Principales
$color-primary: #d04f4f;
$color-secondary: #e7e7e7;

// Dropdown
$color-ingredients: #3282f7;
$color-ingredients-secondary: #2462c0;
$color-device: #68d9a4;
$color-device-secondary: #488e6d;
$color-utensil: #ed6454;
$color-utensil-secondary: #aa473c;

// Card
$color-card: #c7bebe;

// Text
$text-primary: #000000;
$text-secondary: #ffffff;

// Utils
$radius-primary: 5px;
